<table class="w-full font-sans">
    <tr>
      <td class="text-center text-gray-600 text-xs px-24">
        <p class="m-0 mb-4 uppercase">Powered by
          <a href="https://ohmysmtp.com/" class="text-blue-500 no-underline hover:underline">OhMySMTP</a>
        </p>
        <p class="m-0 italic">An ethical transactional email provider</p>
        <p class="cursor-default">
          <a href="https://docs.ohmysmtp.com/" class="text-blue-500 no-underline hover:underline">Docs</a> &bull;
          <a href="https://github.com/ohmysmtp" class="text-blue-500 no-underline hover:underline">Github</a> &bull;
          <a href="https://twitter.com/ohmysmtp" class="text-blue-500 no-underline hover:underline">Twitter</a>
        </p>
      </td>
    </tr>
</table>